{% extends "base.html" %}
{% block title %}Error{% end %}
{% block body %}
<div class="container">
  <div class="span12">{% module title(title='WebGame', subtitle='online') %}</div>
  <div class="jumbotron">
    <h1>HTTP {{ status_code }}</h1>
    <p>Sorry, server can not handle your request.</p>
    <p>An error occurred while processing your request.</p>
    {% if message %}
      <pre class="bg-danger">{{ message }}</pre>
    {% end %}
    <p>
      <a class="btn btn-lg btn-primary" href="javascript:window.history.back();" role="button">back</a>
    </p>
  </div>
</div>
{% end %}